*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    background-color: rgba(50, 4, 83,0.3);
    max-width: 1100px;
    height: 600px;
    align-items: center;
    margin: 2px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.14);
}
.container p{
    font-size: 2rem;
    display: block;
    padding: 20px;
    margin: 10%;
}
.container img{
    width: 10%;
    height: auto;
}
#open{
    position: absolute;
    top: 10px;
    left: 5px;
}
#close{
    position: absolute;
    bottom: 7px;
    right: 10px;
}
.rotate i{
    position: absolute;
    left: 48%;
    top: 70%;
    font-size: 10rem;
    color: rgba(50, 4, 83,0.9);
}

@media (max-width:1440px) {
    .container{
        width: auto;
    }
    .rotate i{
        top: 64%;
        left: 40%;
    }
}
@media (max-width:1024px) {
    .rotate i{
        top: 80%;
        left:40%;
    }
}
@media (max-width:768px) {
    .rotate i{
        top: 80%;
        left:40%;
    }
}

@media (max-width:460px) {
    .container{
        min-width: 320px;
        max-width: 600px;
        height: 500px;
        font: 1.5rem;
    }
    .container p{
        font-size: 1.5rem;
    }
    .rotate i{
        top: 65%;
        left: 100px;
    }
}